# ignoring photos made
photobooth-[0-9]+.jpg

# ignoring temporary files
temp/
saved/

# ignore webdata folder
webdata/

# ignore poemsource folder (because im nervously unsure if we are allowed to have the sources on github)
poemsource/

# settings are different for each user
settings.txt

# keys should not be uploaded to github
keys.txt

# ignoring exported executables
application.*/
